
<div id="commentArea"></div>


<script src="/static/jquery-3.3.1.js"></script>
<script>
    /*
    1.调用对象方法是，通过调用类的prototype中的方法，可以扩展
    2.正则表达式 /\{\w+\}/g
    3.字符串replace方法
        str.replace('alex','sb')
        str.replace(/\{\w+\}/g,function(k,kk){return 123})
    */
    String.prototype.Format = function(arg){
        // this当前字符串
        //arg,Format方法传入的参数
        // return 格式化后获取的新内容
        var tmp = this.replace(/\{(\w+)\}/g,function(k,kk){
            return arg[kk]
        })
        return tmp
    }

    $(function(){
        // 发送ajax请求，获取所有评论信息
        // 页面加载完
        // js生成结构
        $.ajax({
            url:"/comments-{{ this_article.nid }}.html",
            {#url:"/comments-1.html",#}
            type:"GET",
            dataType:"JSON",
            success:function(arg){
                if(arg.status){
                    var comment = commentTree(arg.data)
                    $("#commentArea").append(comment)
                }else{
                    alert(arg.msg)
                }
            }
        })
    })

    function commentTree(commentList){
        var comment_str = "<div class=comment>";
        $.each(commentList,function(k,row){
            // var tmp = "<div class=content>"+row.content+"</div>"
            site = row.user__blog__site
            user_name = row.user__nickname
            var tmp = "<div class=content><a href='/{site}/'>{user_nickname}</a> : {content}</div>".Format({content:row.content,user_nickname:row.user__nickname,site:row.user__blog__site})
            comment_str += tmp
            if(row.child.length>0){
                comment_str += commentTree(row.child);
            }
        })
        comment_str += "</div>"

        return comment_str;
    }

</script>

