{% extends "layout/layout_blog.html" %}

{% block mycss %}
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        #article_title{
            font-size: 28px;
            color:darkcyan;
        }
        .updown,.rigou{
            display: inline-block;
            {#border: 1px solid black;#}
            margin: 10px;
        }
        .updown:hover,.rigou:hover{
            cursor:pointer
        }
        #dianzan div{
            margin: 0 30px;
        }
        .comment{
            margin-left: 30px;
        }

    </style>

{% endblock %}


{% block mycontent %}
    <div class="article-item" art_id={{ this_article.nid }}>
        <div id="article_title">{{ this_article.title }}</div>
        <div>{{ this_article.articledetail.content }}</div>
        <div>
            <div class="updown">
                <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                <span>{{ this_article.up_count }}</span>
            </div>
            <div class="rigou">
                <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
                <span>123</span>
            </div>
        </div>
    </div>

{#    {{ comment_str|safe }}#}
{#    <div id="commentArea"></div>#}
    <div class="jumbotron">
        {% include "include/comment.html" %}
    </div>

{% endblock %}


{% block myscript %}
    <script src="/static/jquery-3.3.1.js"></script>
    <script>
        $(function(){
            $(".updown").click(function(){
                var art_id = $(this).parents(".article-item").attr("art_id")
                $ths = $(this)
                var val = $ths.children("span:last").text()
                $.ajax({
                    url:"/updown/",
                    type:"POST",
                    dataType:"JSON",
                    data:{"art_id":art_id,"val":val,"csrfmiddlewaretoken":"{{ csrf_token }}"},
                    success:function(arg){
                        if (arg.status){
                            $ths.children("span:last").text(arg.up_count)
                            console.log(arg.up_count)
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}