{% extends "layout/layout_blog.html" %}

{% block mycss %}
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        #article_title{
            font-size: 28px;
            color:darkcyan;
        }
        .updown,.rigou{
            display: inline-block;
            {#border: 1px solid black;#}
            margin: 10px;
        }
        .updown:hover,.rigou:hover{
            cursor:pointer
        }
        #dianzan div{
            margin: 0 30px;
        }
        .comment{
            margin-left: 30px;

        }

    </style>

{% endblock %}


{% block mycontent %}
    <div class="article-item" art_id={{ this_article.nid }}>
        <div id="article_title">{{ this_article.title }}</div>
        <div>{{ this_article.articledetail.content|safe }}</div>
        <div>
            <div class="updown">
                <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                <span>{{ this_article.up_count }}</span>
            </div>
            <div class="rigou">
                <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
                <span>123</span>
            </div>
        </div>
    </div>

{#    {{ comment_str|safe }}#}
{#    <div id="commentArea"></div>#}
    <div id="comment_area" class="jumbotron">
        {% include "include/comment.html" %}
    </div>

    <form id="comment_box" method="POST" action="/comment-{{ this_article.nid }}.html">
        {% csrf_token %}
        <div>
            <div>评论内容：<span id="com_to_who" style="color:red;"></span></div>
            <div>
                <textarea name="mycomment" id="mycomment" cols="30" rows="10"></textarea>
            </div>
        </div>
        <input id="comment_commit" type="button" value="提交" onclick="CommentCommit();">
{#        <input id="comment_commit" type="submit" value="提交">#}
    </form>


{% endblock %}


{% block myscript %}
    <script src="/static/jquery-3.3.1.js"></script>
    <script>
        $(function(){
            $(".updown").click(function(){
                var art_id = $(this).parents(".article-item").attr("art_id")
                $ths = $(this)
                var val = $ths.children("span:last").text()
                $.ajax({
                    url:"/updown/",
                    type:"POST",
                    dataType:"JSON",
                    data:{"art_id":art_id,"val":val,"csrfmiddlewaretoken":"{{ csrf_token }}"},
                    success:function(arg){
                        if (arg.status){
                            $ths.children("span:last").text(arg.up_count)
                            console.log(arg.up_count)
                        }
                    }
                })
            })
        })
    </script>

    <script src="/static/plugins/kindeditor-4.1.10/kindeditor-all.js"></script>
    <script>
        KindEditor.create("#mycomment",{
            width: "50%",
            height:"200px",
            resizeType:0,
            uploadJson:"/upload_img.html",
            extraFileUploadParams:{
                "csrfmiddlewaretoken":"{{ csrf_token }}"
            },
            afterBlur:function(){this.sync();},
            items:['link', 'unlink', '|','indent','outdent','|','source','|','bold',]
        })
    </script>
    <script>
        function CommentCommit(){
            var comm = $("#mycomment").val();
            var reply_comm = $("#mycomment").attr("com_id");
            if(comm.replace(/&nbsp;/ig, "").trim().length>0){
                var formdata = new FormData();
                formdata.append("mycomment",comm);
                formdata.append("csrfmiddlewaretoken","{{ csrf_token }}");
                if (reply_comm){
                    formdata.append("reply_comm",reply_comm)
                }
                $.ajax({
                    url:"/comments-{{ this_article.nid }}.html",
                    type:"POST",
                    data:formdata,
                    contentType:false,
                    processData:false,
                    success:function(arg){
                        var res = JSON.parse(arg)
                        if (res.status){
                            window.location.reload()
                        }else{
                            if (res.msg=="not_login"){
                                alert("用户出错，请重新登录")
                            }
                        }
                    }
                })
            }
        }

        $(function(){
            $("#comment_area").on("click",".reply_to",function(){
                var comment_id = $(this).attr("com_id")
                var towho = $(this).attr("towho")
                $("#com_to_who").text("@"+towho)
                $("#mycomment").attr("com_id",comment_id)
            })
        })

    </script>
{% endblock %}