<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="wangzhe.html">
        {% csrf_token %}
        <div>
            <div>文章内容</div>
            <div>
                <textarea name="content" id="i1" cols="30" rows="10">

                </textarea>
            </div>
        </div>
        <input type="submit">
    </form>
    <script src="/static/plugins/kindeditor-4.1.10/kindeditor-all.js"></script>
    <script>
        KindEditor.create("#i1",{
            width: "700px",
            height:"500px",
            resizeType:1,
            uploadJson:"/upload_img.html",
            extraFileUploadParams:{
                "csrfmiddlewaretoken":"{{ csrf_token }}"
            }
        })
    </script>
</body>
</html>